<div class="card bg-dark text-white">
    <img class="card-img" src="assets/img/banner.png" alt="Card image">
</div>
<blockquote class="blockquote">
    <p class="h5 mb-0 text-danger">INSCRÍBETE</p>
</blockquote>

<form>
    <div class="form-group">
        <label for="name">Nombre</label>
        <div class="input-group">
            <input type="text" class="form-control" id="name" placeholder="Nombre">
            <div class=" input-group-append">
                <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Apellidos</label>
        <div class="input-group">
            <input type="text" class="form-control" id="lastName" placeholder="Apellidos">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="birthday">Fecha de Nacimiento</label>
        <div class="input-group">
            <input type="text" class="form-control datetimepicker" id="birthday" placeholder="Nacimiento">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <div class="input-group">
            <input type="email" class="form-control" id="email"  placeholder="Email">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-blue-latam btn-block">Inscribirme</button>
</form>
