<footer class="footer bg-info">
    <div class="container">
        <div class="row">
            <div class="col-9 text-white">
                <a href="#" class="btn btn-link btn-neutral" style="font-size: 200%"><i class="fab fa-linkedin"></i></a>
                <a href="#" class="btn btn-link btn-neutral" style="font-size: 200%"><i class="fab fa-twitter"></i></a>
                <a href="#" class="btn btn-link btn-neutral" style="font-size: 200%"><i class="fab fa-google-plus"></i></a>
                <a href="#" class="btn btn-link btn-neutral" style="font-size: 200%"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="col-3 text-white">
                <table>
                    <tr>
                        <td><i class="far fa-envelope"></i>&nbsp;&nbsp;</td>
                        <td>colegio.latam@correo.cl</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;</td>
                        <td>+56900000000</td>
                    </tr>
                    <tr>
                        <td><i class="fab fa-whatsapp"></i>&nbsp;&nbsp;</td>
                        <td>+56900000000</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</footer>

<div class="bg-dark text-white text-center">
    <span class="">
        © {{actualYear}} || creado por <a href="mailto:lucero.inginfo@gmail.com"> Cero</a>
    </span>
</div>
