<div class="container">
    <h2 class="text-center">Noticias y actualidad</h2>
    <div class="row" style="height: 50px"></div>
    <div class="row">
        <div class="col-4 offset-1">
            <div class="card" style="height: 15rem">
                <div class="row no-gutters align-items-center">
                    <div class="col-4">
                        <img class="card-img-top" src="assets/img/perfil.png" alt="Card image cap">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h4 class="card-title">Qui Dolorem</h4>
                            <p class="card-text">
                                Qui dolorem ipsum, quia dolor sit amet consectetur adipisci velit, sed quia non numquam
                                eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 offset-2">
            <div class="card" style="height: 15rem">
                <div class="row no-gutters align-items-center">
                    <div class="col-4">
                        <img class="card-img-top" src="assets/img/perfil.png" alt="Card image cap">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Nor Again</h5>
                            <p class="card-text">
                                Nor again is there anyone who loves or pursues or desires to obtain pain of itself,
                                because it is pain, but occasionally circumstances occur in which toil and pain can
                                procure him some great pleasure
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4 offset-1">
            <div class="card" style="height: 15rem">
                <div class="row no-gutters align-items-center">
                    <div class="col-4">
                        <img class="card-img-top" src="assets/img/perfil.png" alt="Card image cap">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h4 class="card-title">Lorem Ipsum</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipiscing elit rhoncus curae eros, ridiculus
                                laoreet maecenas ac at nec nostra varius nullam.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 offset-2">
            <div class="card" style="height: 15rem">
                <div class="row no-gutters align-items-center">
                    <div class="col-4">
                        <img class="card-img-top" src="assets/img/perfil.png" alt="Card image cap">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h4 class="card-title">Tortor Dignissim</h4>
                            <p class="card-text">
                                Tortor dignissim pellentesque ut fames duis class curabitur, dapibus interdum arcu
                                donec felis taciti.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
