.btn-blue-latam {
    background-color: #34455e;
    border-color: #34455e;
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100)
}

.btn-blue-latam.active, .btn-blue-latam.active:focus, .btn-blue-latam:active, .btn-blue-latam:active:focus, .btn-blue-latam:active:hover, .btn-blue-latam:focus, .btn-blue-latam:hover, .btn-blue-latam:not(:disabled):not(.disabled).active, .btn-blue-latam:not(:disabled):not(.disabled).active:focus, .btn-blue-latam:not(:disabled):not(.disabled):active, .btn-blue-latam:not(:disabled):not(.disabled):active:focus, .show > .btn-blue-latam.dropdown-toggle {
    background-color: #425877;
    color: #fff;
    border-color: #425877;
    box-shadow: none
}

.btn-blue-latam.disabled, .btn-blue-latam.disabled.active, .btn-blue-latam.disabled.focus, .btn-blue-latam.disabled:active, .btn-blue-latam.disabled:focus, .btn-blue-latam.disabled:hover, .btn-blue-latam:disabled, .btn-blue-latam:disabled.active, .btn-blue-latam:disabled.focus, .btn-blue-latam:disabled:active, .btn-blue-latam:disabled:focus, .btn-blue-latam:disabled:hover, .btn-blue-latam[disabled], .btn-blue-latam[disabled].active, .btn-blue-latam[disabled].focus, .btn-blue-latam[disabled]:active, .btn-blue-latam[disabled]:focus, .btn-blue-latam[disabled]:hover, fieldset[disabled] .btn-blue-latam, fieldset[disabled] .btn-blue-latam.active, fieldset[disabled] .btn-blue-latam.focus, fieldset[disabled] .btn-blue-latam:active, fieldset[disabled] .btn-blue-latam:focus, fieldset[disabled] .btn-blue-latam:hover {
    background-color: #425877;
    border-color: #425877
}

.btn-blue-latam.btn-link {
    color: #34455e
}

.btn-blue-latam.btn-link.active, .btn-blue-latam.btn-link:active, .btn-blue-latam.btn-link:focus, .btn-blue-latam.btn-link:focus:active, .btn-blue-latam.btn-link:hover, .open > .btn-blue-latam.btn-link.dropdown-toggle {
    background-color: transparent !important;
    color: #425877 !important
}

.btn-blue-latam.btn-link .caret {
    border-top-color: #34455e
}
